/* primary site css */
html {
    background-color: #FAF9F9;
    color: #222;
    line-height: 1.4em;
}

a { text-decoration: none; }
a:hover { text-decoration: underline; }

h1 { font-size: 1.5em; margin: 1em 0 .7 0; }  /* page title */
h2 { font-size: 1.28em; margin: 1.4em 0 .8em 0; letter-spacing: .01em; }  /* major section (rare) */
h3 { font-size: 1.07em; margin: 1.4em 0 .9em 0; letter-spacing: .01em; }  /* minor section */

h1 a:link, h1 a:hover, h1 a:focus, h1 a:visited,
h2 a:link, h2 a:hover, h2 a:focus, h2 a:visited,
h3 a:link, h3 a:hover, h3 a:focus, h3 a:visited,
h4 a:link, h4 a:hover, h4 a:focus, h4 a:visited {
    color: #222;
    text-decoration: none;
}


ul { margin: .8em 0; padding: 0 0 0 1em; }
ul li { list-style-type: square; }
ol { margin: .8em 0; padding: 0 0 0 1.4em; }
li { margin: 0; padding: 0; }
hr { margin: 2em auto; width: 66%; }

p, pre { margin: .8em 0; }

#col {
    margin: 0 auto;
    max-width: 700px;
    padding: 0 2em;
}

#body {
    font-size: 17px;
    padding-top: 1em;
}

#day, #night {
    float: right;
    display: none;
}

#metadata {
    border-top: 1px solid #CCC;
    font-size: .85em;
    margin-top: 1.5em;
    padding-top: 1.5em;
}

#footer {
    font-size: .8em;
    margin-bottom: 400px;
}