<!DOCTYPE html>
<html lang="en" dir="ltr">
<head>
    <meta charset="utf-8">
    <title>{site_name} | {page_title}</title>
    <meta name="description" content="">
    <link rel="stylesheet" href="{css_filename}">
    <!-- see /html -->
</head>
<body>
    <div id="dayNight" data-darkname="{dark_css_filename}"
         style="display: none; float: right; margin: 1em;">
        <b id="dayOn">day</b><a href="#" id="showDay">day</a>
        <b id="nightOn">night</b><a href="#" id="showNight">night</a>
    </div>
    <div id="col">
        <div id="body">
            <h1>{page_title}</h1>
            {body}
        </div>
        <div id="metadata">
            {metadata}
        </div>
        <div id="footer">
            <a href="home">home</a> <a href="disclaimer">disclaimer</a>
        </div>
    </div>
    <script src="{javascript}"></script>
</body>
</html>
